.container-wc {
	padding: 4rem 5rem 0;
	text-align: center;
	background: #f7f5e9;
	color: #292929;
}

.container-wc > .heading {
	font-size: 4rem;
	font-weight: 500;
	margin: 0;
	color: #292929;
	margin-bottom: 1rem;
}

.container-wc .heading1 {
	color: #a74107;
	font-size: 1.5rem;
}
.container-wc .heading2 {
	font-weight: 500;
	font-size: 10vw;
}
.container-wc .content {
	display: grid;
	grid-template-columns: 1fr 0.5fr 0.5fr;
	grid-template-areas:
		"main-image image image"
		"main-image image image";
}
.container-wc .content .main-image img {
	max-width: 100%;
	max-height: 100%;
}
.container-wc .content img {
	max-width: 12rem;
	max-height: 14rem;
	height: 100%;
	width: auto;
	object-fit: cover;
}
/* .container-n-a .content > div {
  box-sizing: border-box;
} */
.container-wc .main-image,
.container-wc .image{
	padding: 1rem;
	border: 0.5px solid #bdbdbd;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.container-wc .main-image {
	grid-area: main-image;
}

.container-wc .image1 {
	grid-area: image1;
}
.container-wc .image2 {
	grid-area: image2;
}
.container-wc .image3 {
	grid-area: image3;
}
.container-wc .image4 {
	grid-area: image4;
}
.container-wc .love-btn {
	align-self: flex-end;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 100%;
	background-color: #f4f1f1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-wc .love-btn img {
	max-width: 60%;
	height: auto;
}
.container-wc .details {
	align-self: flex-end;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
}
.container-wc .item-price {
	font-weight: 600;
	transform: scaleY(1.2);
}

.container-wc .details .lower-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.container-wc .lower-section img {
	max-width: 3rem;
	max-height: 1.3rem;
	height: 100%;
	width: auto;
	object-fit: cover;
	border-radius: 100%;
	background-color: #f4f1f1;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media screen and (max-width: 800px) {
	.container-wc .content {
		display: grid;
		grid-template-rows: 0.6fr 0.6fr;
		grid-template-columns: repeat(2, 1fr);
	}
	.container-wc .content .main-image {
		max-width: 100%;
		max-height: 100%;
	}
	.container-wc .content img {
		max-width: 50%;
		max-height: 14rem;
		height: 50%;
		width: auto;
		object-fit: cover;
	}
	.container-wc .main-image {
		display: none;
	}
	.container-wc .content img {
			height: auto;
		}
}
@media screen and (max-width: 670px)
{
    .container-wc .content img {
        max-width: 70%;
    }
	.container-n-a .heading{
		font-size: 8vw;
		margin-bottom: 1rem;
	}
}

@media screen and (max-width: 480px) {
	.container-wc{
		padding: 4rem 3rem 0;
	}
	.container-wc .content {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: center;
	}
}
